<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <canvas *ngIf="lineChartData[0]" #myChart="base-chart" id="canvas" baseChart width="400" height="400"
              [datasets]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [colors]="lineChartColors"
              [chartType]="lineChartType"></canvas>
      <div *ngIf="invalidId">
        <h1 class="invalid-id">This ID is invalid</h1>
      </div>
    </div>
    <div class="col-4">
      <form *ngIf="IdForm" [formGroup]="IdForm" (ngSubmit)="addItem()">
        <div class="input-group mb-3">
          <input formControlName="name" type="text" class="form-control" placeholder="Input Id" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button [disabled]="!IdForm.value.name" type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
      <div class="invalid-id">
        <h5 class="mb-3">Examples</h5>
        <p>5b87b09e94412c12e263f734</p>
        <p>5b85624594412c12827ba292</p>
        <p>5b865da194412c09d646e392</p>
        <p>5b879f4c94412c12e263f732</p>
      </div>
    </div>
  </div>
</div>
